@import "tokyonight.css";

* {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  padding: 5px;
  background-color: @surface0;
  margin-left: 1rem;
  font-size: 18px;
  opacity: 0.8;
}

#workspaces button {
  color: @sky;
  border-radius: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 0.4rem;
  margin: 0;
}

#workspaces button.focused {
	color: #268bd2;
}

#workspaces button.active {
  color: @surface0;
  background-color: @sky;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem;
  margin: 0 0.4rem;
}

#workspaces button:hover {
  color: @sky;
  border-radius: 1rem;
}

#submap {
  border-radius: 1rem;
  margin: 5px;
  padding: 0 1rem;
  color: @base;
  background-color: @pink;
  margin-left: 1rem;
}

#tray,
#backlight,
#clock,
#battery,
#wireplumber,
#custom-lock,
#window,
#cpu,
#network,
#memory,
#temperature,
#custom-sep,
#custom-power {
  opacity: 0.8;
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock, 
#memory {
  color: @sky;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#network {
  color: @sky;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

#temperature {
  color: @pink;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @sky;
}

#backlight, #battery {
    border-radius: 0;
}

#wireplumber, 
#cpu {
  color: @sky;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music, #window {
  color: @sky;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
